body {
    font-family: arial, sans-serif;
    font-size: larger;
    width: 60%;
    margin: auto;
}

p {
    font-size: 16px;
    margin: auto;
}

div {
    padding-top: 20px;
}

#results-textbox {
    width: 100%;
    height: 40vh;
    display: block;
}