body {
    font-family: arial, sans-serif;
    font-size: larger;
    width: 60%;
    margin: auto;
}

p {
    font-size: 16px;
    margin: auto;
}

#progress {
    white-space: pre-line;
}

div {
    padding-top: 20px;
}

textarea {
    width: 100%;
    height: 40vh;
    display: block;
}

textarea.no-display {
    display: none;
}

